* {
	margin: 0;
	padding: 0;
	border: 0;

	outline: none;
	text-decoration: none;
	outline: none;

	font-family: 'EB Garamond', serif;
    font-family: 'Montserrat', sans-serif;
	box-sizing: border-box;
}

ol,
ul,
li {
	list-style: none;
	display: block;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a img {
	border: none;
}

button,
a {
	cursor: pointer;
	color: inherit;
}

textarea {
	resize: none;
}

textarea,
select {
	appearance: none !important;
	-webkit-appearance: none !important;
	border-radius: 0;
}

body {
    background-color: #f7e4d4;
    color: #467745;

}

@media screen and (max-width: 520px) {

    #inputForm {
        
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        justify-content: center;
        align-items: center;
        
    }
    
    #button {
        height: 80px; 
        width: 50%;
        max-width: 280px;
        text-align: center;
      
        background-color: #467745;
        color: #f7e4d4;
    
        border-radius:90px;
    
        font-family: 'EB Garamond', serif;
        font-size: 21px;
        word-spacing: 2em;
        text-transform: uppercase;

    
    }
    
    ::placeholder {
        
        color:#467745;
    
    }
        
    h1 {
        text-align: left;
        margin-top: 80px;
        margin-right: 30px;
        margin-left: 20px;

            
        font-family: 'EB Garamond', serif;
        font-size: 36px;
        font-weight: medium;
        word-spacing: 0.2em;
    
        }
        
    input[type=text] {
            
        height: 64px;
        width: calc(100% - 40px);
        max-width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        text-indent: 10px;
    
            }
    input[type=textarea] {
        height: 120px;
        width: calc(100% - 40px);
        max-width: 480px;
        margin-top: 10px;
        margin-bottom: 10px;
    
        text-indent: 10px;
    }

    input[type=checkbox] {
        margin-left: 20px;
        margin-top: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: left;

        font-family: 'Montserrat', sans-serif;
        font-size: 16px;

    }
        
            
    }

    @media screen and (min-width: 521px) {

        #inputForm {
            
            display:flex;
            flex-wrap: wrap;
            flex-direction:column;
            justify-content: center;
            align-items: center;
            
        }
        
        #button {
            height: 80px; 
            width: 50%;
            max-width: 280px;
            text-align: center;
          
            background-color: #467745;
            color: #f7e4d4;
        
            border-radius:90px;
        
            font-family: 'EB Garamond', serif;
            font-size: 21px;
            word-spacing: 2em;
            text-transform: uppercase;
    
        
        }
        
        ::placeholder {
            
            color:#467745;
        
        }
            
        h1 {
            text-align: center;
            margin-top: 80px;
            margin-right: 30px;
            margin-left: 20px;
    
                
            font-family: 'EB Garamond', serif;
            font-size: 48px;
            font-weight: medium;
            word-spacing: 0.2em;
        
            }
            
        input[type=text] {
                
            height: 64px;
            width: calc(100% - 40px);
            max-width: 480px;
            margin-top: 10px;
            margin-bottom: 10px;
        
            text-indent: 10px;
        
                }
        input[type=textarea] {
            height: 120px;
            width: calc(100% - 40px);
            max-width: 480px;
            margin-top: 10px;
            margin-bottom: 10px;
        
            text-indent: 10px;

        }
    
        input[type=checkbox] {
            margin-left: 20px;
            margin-top: 20px;
            margin-right: 20px;
            margin-bottom: 20px;
            text-align: left;
    
            font-family: 'Montserrat', sans-serif;
            font-size: 16px;
    
        }
            
                
        }